@model List<MyContacts.Models.Contact>
@{
    ViewData["Title"] = "Contact List";
}
<table class="table table-striped">
<tr>
        <th>
           First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Email)
        </th>
        <th>
            Phone Number
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-controller="Contact" asp-action="Edit" asp-route-id="@item.ContactId" asp-route-slug="@item.Slug">@Html.DisplayFor(modelItem => item.FirstName)</a>
            </td>
            <td>
                <a asp-controller="Contact" asp-action="Edit" asp-route-id="@item.ContactId" asp-route-slug="@item.Slug">@Html.DisplayFor(modelItem => item.LastName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>

                <a class="btn btn-secondary" asp-controller="Contact" asp-action="Details" asp-route-id="@item.ContactId" asp-route-slug="@item.Slug"><i class="bi bi-info"></i></a> |
                <a class="btn btn-danger" asp-controller="Contact" asp-action="Delete" asp-route-id="@item.ContactId"> <i class="bi bi-trash3"></i></a>
            </td>
        </tr>
    }
</table>
<div class="row justify-content-center p-3">
    <a class="btn btn-primary col-3 " asp-controller="Contact" asp-action="Add"><i class="bi bi-plus-circle"></i> Add Contact</a>
</div>

